body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app {
    width: 100%;
    max-width: 500px;

    background-color: white;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    width: 100%;
      
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

button {
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #e5e5e5;
    transition: 0.2s;
}

button:hover {
    background-color: #007BFF;
    color: white;
    border: none;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.todo-item {
    cursor: grab;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.todo-item.dragging {
    cursor: grabbing;
    opacity: 0.5;
    transform: scale(1.03);
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-item:hover {
    background-color: #f5f5f5;
}

.todo-buttons {
    display: flex;
    gap: 8px;
    margin-left: 16px;
}

.todo-text {
    flex: 1;
}

.todo-date {
    font-size: 14px;
    opacity: 0.6;
    margin-top: 4px
}

.todo-item:active {
    cursor: grabbing;
}

.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.active-filter {
    background-color: #007BFF;
    color: white;
}

.dragging {
    opacity: 0.5;
    transform: scale(1.05);
}

.drag-over {
    background-color: #f5f9ff;
    border: 1px dashed #007BFF;
}